# 1. Introduction to Python

Python is a programming language.
It is not a mathematics-oriented language in and of itself.
It is a general-purpose language, meaning we can do pretty much what we want with it.

[![Python](https://imgs.xkcd.com/comics/python.png)](https://xkcd.com/353/)

Here is a (supershort) list of what humanity did with Python:

- Dropbox (Source: [Dropbox Blog](https://blogs.dropbox.com/tech/2018/09/how-we-rolled-out-one-of-the-largest-python-3-migrations-ever/))
- Image editing ([The GNU Image Manipulation Program](https://www.gimp.org/))
- Vector graphics ([Inkscape](https://inkscape.org/))
- 3D modeling ([Blender](https://www.blender.org/))
- Desktop publishing ([Scribus](https://www.scribus.net/))
- Web pages ([Reddit](https://www.reddit.com/), Source: [Reddit Blog](https://redditblog.com/2005/12/05/on-lisp/))

Also in economics we have a great sites like [QuantEcon](https://quantecon.org) by **Prof. Sargent** and his team and you can find many economics models on it.

# 2. How to work with the notebooks in colab/binder

Notebooks:
- notebook as a collection of cells
- two main cell types: text (markdown) and code
- click on a cell to edit the contents
- Shift+Enter to run the code within a code cell or render the text cell
- be aware of the execution order
- installing necessary modules with pip and conda

# 3. The Basics

Python alone cannot do much.
For this reason, we are almost always going to work with a package (see below).
However, it is fundamental to understand the basics.
This involves familiarizing with the _syntax_ and with the basic _data types_.

Syntax is the set of rules that govern writing code.
This includes how to write an _assignment_ (providing a variable with a value), how to call functions and how to access items in a iterable object (e.g., lists, arrays).
It also includes _code blocks,_ which execute conditionally on a given rule (e.g., `if`, `while`).

## 3.1 Arithmetic operations and variables

Let's start with basic calculations in Python. Entering some arithmetic operation in the code cell below (e.g. `2+2`):

<br><center> <b>Arithmetic Operators<b> <center>
<br>

| Symbol | Task Performed | Description| Example<br> (a = 10 & b = 20) |
|:----:|:---:|:---:|:---:| 
| +  | Addition | Adds values on either side of the operator. | a + b = 30
| -  | Subtraction | Subtracts right hand operand from left hand operand. | a â€“ b = -10
| /  | division | Divides left hand operand by right hand operand | b / a = 2
| %  | mod | Divides left hand operand by right hand operand and returns remainder | b % a = 0
| *  | multiplication | Multiplies values on either side of the operator | a * b = 200
| //  | floor division | he division of operands where the result is the quotient in<br> which the digits after the decimal point are removed. | b // a = 2
| **  | to the power of | Performs exponential (power) calculation on operators | a**b =$10^{20}$

Every code line in Python is interpreted as a `command`, unless it starts
with the hash/pound sign, in which case it is considered to be a `comment`:

```
# the line below will be executed
1+1

# the line below will not be executed
# 1+2
```

In [ ]:
# 2+10*2

As with many programming languages, we are defining variables and changing their values all the time in Python.
We can create a variable simply by inventing a name and assigning a value to it, like the following.

To store the results of a calculation in a `variable` we can use `=` sign.

```python
sample_number = 2 + 3
```

When working inside the notebooks, we can see the result of the last executed command
or a `variable`. For example, what do you see when you type the code below in a blank cell?

```
sample_number
```

In [ ]:
# type here

In [ ]:
# note that only the last command/variable is displayed
# for example of the following two commands only the last one will be shown
2+2
2+4
2+3

5

To see the contents of the variable we can use the `print` function:

```python
print(sample_number)
```

Check that this works in the cell below:

In [ ]:
# type here

Later in the code we can re-use this variable, check what is the output of this command:

```python
sample_number + 1
```

In [ ]:
# uncomment the line below
sample_number + 1

6

## 3.2 Relational Operators

Relational operators are used for comparing the values. It either returns **True** or **False** according to the condition. These operators are also known as Comparison Operators.

| Symbol | Task Performed | Description|
|:----:  |:---:|:---:| 
|=	     |Assignment| Assigns values from right side operands to left side operand
|==      |True, if it is equal| If the values of two operands are equal, then the condition becomes true.|
|!=      |True, if not equal to| If values of two operands are not equal, then condition becomes true.|
|<	     |less than| If the value of left operand is less than the value of right operand,<br> then condition becomes true.
|>	     |greater than| If the value of left operand is greater than the value of right operand, <br>then condition becomes true.
|<=      |less than or equal to| If the value of left operand is less than or equal to the value of right operand,<br> then condition becomes true.
|>=      |greater than or equal to|If the value of left operand is greater than or equal to the value of right operand, <br>then condition becomes true.

## 3.3 Type

Now we have a variable whose name is `a` and its value is `1`.
This variable has a _type_, which is the kind of value it contains.
In particular, `1` is an integer, whose type is represented in Python with the keyword `int`.
Understanding that variables can be of different types is important, because the type defines what we can do with that variable.
We can ask Python to tell us the type of a variable by using the `type()` function.

Data types are the types of variables we can create.
Python defines a few basic ones and packages (see below) provide new data types.
This programming language features _dynamic typing_, which means that we do not have to define what a variable can be.
Instead, Python infers the type of a variable when we create it.
Examples of basic data types are strings (`str`), lists (`list`), integer numbers (`int`).
<br><br>

| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |
|list | [1, 2, 3, 'python', 9, 7] |
| dictionary | {'Python': 18 , "Econ": 20}

### Text (`str`)

A basic object in Python is text.
This is formally represented with a `str` object.
Strings are denoted either with single or double quotes, and the choice between them is a matter of taste.

There must always be consistency between opening a closing quotes.
This means that single quotes can only close single quotes and double quotes can only close double quotes.

As mentioned, Python variables can also contain `string` data:

```python
sample_string = "abc"
```

In [ ]:
# create a variable `sample_string` and assign it some string of your choice

Python allows performing some operations with string variables using notation similar to
arithmetic operators. For example, try this in the cell below. Is this what you would expect?

```python
sample_string*2
```

In [ ]:
# type here

It does not matter if you put the strings in single or double quotes::

```python
sample_string = "abc" + 'def'
```

### Numbers (`int` and a`float`)

We already encountered integer numbers, whose type is `int`.
Another numerical type we are going to use very often is `float`.
This essentially is a non-integer real number, although the inner workings of [floating-point numbers](https://en.wikipedia.org/wiki/Floating-point_arithmetic) are more complicated.
We can initialize a variable to be of type `float` by simply assigning a decimal number to a variable.

This works even when the digit on the right of the decimal point is non significant.
The simple fact that we typed a period in the number tells Python that we want to work with floating point numbers.

Both `int` and `float` variables support conventional arithmetic operations, such as addition (`+`), subtraction (`-`), multiplication (`*`), division (`/`) and raise to power (`**`).
For example:

Other operations that might be handy are floor division (`//`) and the _mod_ operation (`%`).
The former returns the largest integer smaller than the quotient, while the latter returns the remainder of floor division.

### Iterable objects (`list`, `tuple` and `dict`)

Often we want to collect objects in arrays.
The most basic example is a vector, which is an organized array of numbers.
Python (mainly) provides three iterable objects.


#### **List**


We first look at **lists**.
These are arrays of heterogeneous objects.
They are created by collecting objects in square brackets.

A list of objects is an odered collection of items, for example `['a', 'b', 'c', 'a', 123]`. Since
lists are ordered, every item in the list has an associated index that starts with 0. This provides
access to specific elements of the list by specifying their index. For example, 'b' in the list above has index `1`.
The syntax for accessing a specific element is to provide its index in square brackets, e.g. `sample_list[1]`.

There are no restriction on the contents of the list, they can contain repeated values
(e.g. 'a' in the list above) or they can contain different data types (e.g. strings and integers in the list above).

Lists can also nest.

We can access the contents of any iterable object using square brackets.

Note that Python starts counting from zero.
This means that `z[0]` will denote the first element of the list `z`, so that `z[1]` denotes the second element.
We can also refer to items at the end of a list, without knowing how many elements it contains.

Try defining the list below and accessing different elements inside the list:

```python
sample_list = ['a', 'b', 'c', 'a', 123, 0, 'X']
```

In [ ]:
# type here

Sometimes we want to use sequences inside a list, e.g. all items from start until the third item.
For this we can use the slicing notation:
```
[start:stop:step_size]
```

If `start` is missing, the assumption is to start from 0, if `stop` is missing the assumption
is to run up to and including the last item. If `step_size` is missing then iteration
will go over all items between `start` and `stop`. 

Specifying `step_size` will display every `step_size`'th item, e.g. `[::2]` will display every second
item starting from the first item. Note that specifying a negative number will reverse the order in which items in the list are
displayed. Try this:

```python
sample_list[:3:-1]
```

In [ ]:
# type here

In [ ]:
# type here

#### **Tuple**

Another way to collect objects is using a **tuple**.
This is similar to a `list` and it is created by using round parentheses.

What distinguishes lists from tuples is the ability to replace items without creating the iterable from scratch.
We can replace items in a list, but we cannot do so with a tuple.

#### **Dictionary**

Finally, we have **dictionaries**.
These are essentially lists, with the difference that each element is assigned to a _key_.
We create dictionaries using curly braces.


`Dictionary` is a data type that contains a combination of key-value items, for example:

```python
sample_dictionary = dict(math=19, econ=20, physics=16, geology=14)
sample_dictionary_alt = {'math' =19, 'econ'= 20, 'physics'= 16, 'geology'= 14}
print(sample_dictionary, sample_dictionary_alt)
```

Once a dictionary is defined we can access specific values by using relevant key, specifying
it in square brackets, for example:

```python
print(sample_dictionary['econ'])
```

We can use a similar notation to add new key/value pairs to the dictionary:

```python
sample_dictionary['python'] = True
print(sample_dictionary)
```

In [ ]:
# type here

The advantage of dictionaries is that we can access their elements by specifying the name of the key, rather than using a number to index the position.

We can access to values and keys of dictionary with below commands: