# 1. Introduction to Python

Python is a programming language.
It is not a mathematics-oriented language in and of itself.
It is a general-purpose language, meaning we can do pretty much what we want with it.

[![Python](https://imgs.xkcd.com/comics/python.png)](https://xkcd.com/353/)

Here is a (supershort) list of what humanity did with Python:

- Dropbox (Source: [Dropbox Blog](https://blogs.dropbox.com/tech/2018/09/how-we-rolled-out-one-of-the-largest-python-3-migrations-ever/))
- Image editing ([The GNU Image Manipulation Program](https://www.gimp.org/))
- Vector graphics ([Inkscape](https://inkscape.org/))
- 3D modeling ([Blender](https://www.blender.org/))
- Desktop publishing ([Scribus](https://www.scribus.net/))
- Web pages ([Reddit](https://www.reddit.com/), Source: [Reddit Blog](https://redditblog.com/2005/12/05/on-lisp/))

Also in economics we have a great sites like [QuantEcon](https://quantecon.org) by **Prof. Sargent** and his team and you can find many economics models on it.

# 2. How to work with the notebooks in colab/binder

Notebooks:
- notebook as a collection of cells
- two main cell types: text (markdown) and code
- click on a cell to edit the contents
- Shift+Enter to run the code within a code cell or render the text cell
- be aware of the execution order
- installing necessary modules with pip and conda

# 3. The Basics

Python alone cannot do much.
For this reason, we are almost always going to work with a package (see below).
However, it is fundamental to understand the basics.
This involves familiarizing with the _syntax_ and with the basic _data types_.

Syntax is the set of rules that govern writing code.
This includes how to write an _assignment_ (providing a variable with a value), how to call functions and how to access items in a iterable object (e.g., lists, arrays).
It also includes _code blocks,_ which execute conditionally on a given rule (e.g., `if`, `while`).

$$ \sqrt{2^x} \frac{x^3}{\sqrt{2^{3x}}}$$

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 3.1 Arithmetic operations and variables

Let's start with basic calculations in Python. Entering some arithmetic operation in the code cell below (e.g. `2+2`):

<br><center> <b>Arithmetic Operators<b> <center>
<br>

| Symbol | Task Performed | Description| Example<br> (a = 10 & b = 20) |
|:----:|:---:|:---:|:---:| 
| +  | Addition | Adds values on either side of the operator. | a + b = 30
| -  | Subtraction | Subtracts right hand operand from left hand operand. | a â€“ b = -10
| /  | division | Divides left hand operand by right hand operand | b / a = 2
| %  | mod | Divides left hand operand by right hand operand and returns remainder | b % a = 0
| *  | multiplication | Multiplies values on either side of the operator | a * b = 200
| //  | floor division | he division of operands where the result is the quotient in<br> which the digits after the decimal point are removed. | b // a = 2
| **  | to the power of | Performs exponential (power) calculation on operators | a**b =$10^{20}$

In [5]:
# 2 + 10 * 2 sdkfhasdkjfsadf

In [ ]:
# 2+10*2

Every code line in Python is interpreted as a `command`, unless it starts
with the hash/pound sign, in which case it is considered to be a `comment`:

```
# the line below will be executed
1+1

# the line below will not be executed
# 1+2
```

In [7]:
2 + 4

6

In [8]:
6 - 4

2

In [10]:
5 * 3

15

In [12]:
5 / 4

1.25

In [16]:
18 % 4

2

In [17]:
18 // 4

4

In [18]:
3 ** 5

243

In [19]:
5 + (4 - 3 * 2)**3 + 1

-2

As with many programming languages, we are defining variables and changing their values all the time in Python.
We can create a variable simply by inventing a name and assigning a value to it, like the following.

In [20]:
a = 1

In [21]:
a

1

To store the results of a calculation in a `variable` we can use `=` sign.

```python
sample_number = 2 + 3
```

When working inside the notebooks, we can see the result of the last executed command
or a `variable`. For example, what do you see when you type the code below in a blank cell?

```
sample_number
```

In [22]:
# type here
sample_number = 2 + 3

In [23]:
sample_number

5

In [24]:
b = 5 + (4 - 3 * 2)**3 + 1

In [25]:
b

-2

In [27]:
# note that only the last command/variable is displayed
# for example of the following two commands only the last one will be shown
2+2
2+4
2+3

5

In [28]:
b

-2

In [29]:
b = 10

In [30]:
b

10

In [31]:
b = 10
b = 10 - 8
b = b + 10
b

12

To see the contents of the variable we can use the `print` function:

```python
print(sample_number)
```

Check that this works in the cell below:

In [32]:
# type here
print(sample_number)

5

In [33]:
print(b)

12

In [34]:
b

12

Later in the code we can re-use this variable, check what is the output of this command:

```python
sample_number + 1
```

In [38]:
b = b + 10
b

25

In [40]:
# uncomment the line below
sample_number + 1

6

In [41]:
sample_number = sample_number + 2
sample_number

7

## 3.2 Relational Operators

Relational operators are used for comparing the values. It either returns **True** or **False** according to the condition. These operators are also known as Comparison Operators.

| Symbol | Task Performed | Description|
|:----:  |:---:|:---:| 
|=	     |Assignment| Assigns values from right side operands to left side operand
|==      |True, if it is equal| If the values of two operands are equal, then the condition becomes true.|
|!=      |True, if not equal to| If values of two operands are not equal, then condition becomes true.|
|<	     |less than| If the value of left operand is less than the value of right operand,<br> then condition becomes true.
|>	     |greater than| If the value of left operand is greater than the value of right operand, <br>then condition becomes true.
|<=      |less than or equal to| If the value of left operand is less than or equal to the value of right operand,<br> then condition becomes true.
|>=      |greater than or equal to|If the value of left operand is greater than or equal to the value of right operand, <br>then condition becomes true.

In [42]:
x = 2
y = 6

In [45]:
print(x == y)
print(x != y)
print(x == 2)

False
True
True

In [48]:
print(x > y)
print(x > 2)
print(x >= 2)

False
False
True

In [51]:
x > 1 and y < 1

False

In [50]:
x >1 or y < 1

True

In [52]:
1 < x < 3

True

## 3.3 Type

Now we have a variable whose name is `a` and its value is `1`.
This variable has a _type_, which is the kind of value it contains.
In particular, `1` is an integer, whose type is represented in Python with the keyword `int`.
Understanding that variables can be of different types is important, because the type defines what we can do with that variable.
We can ask Python to tell us the type of a variable by using the `type()` function.

Data types are the types of variables we can create.
Python defines a few basic ones and packages (see below) provide new data types.
This programming language features _dynamic typing_, which means that we do not have to define what a variable can be.
Instead, Python infers the type of a variable when we create it.
Examples of basic data types are strings (`str`), lists (`list`), integer numbers (`int`).
<br><br>

| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |
|list | [1, 2, 3, 'python', 9, 7] |
| dictionary | {'Python': 18 , "Econ": 20}

### Text (`str`)

A basic object in Python is text.
This is formally represented with a `str` object.
Strings are denoted either with single or double quotes, and the choice between them is a matter of taste.

In [54]:
print("Hello world!")

Hello world!

In [55]:
print('python course')

python course

There must always be consistency between opening a closing quotes.
This means that single quotes can only close single quotes and double quotes can only close double quotes.

In [56]:
"weird striing..?'

SyntaxError: EOL while scanning string literal (<ipython-input-56-e960aba1c7d9>, line 1)

As mentioned, Python variables can also contain `string` data:

```python
sample_string = "abc"
```

In [59]:
# create a variable `sample_string` and assign it some string of your choice
sample_string = "abc"
print(sample_string)

abc

Python allows performing some operations with string variables using notation similar to
arithmetic operators. For example, try this in the cell below. Is this what you would expect?

```python
sample_string*2
```

In [58]:
# type here
sample_string * 2

'abcabc'

It does not matter if you put the strings in single or double quotes::

```python
sample_string = "abc" + 'def'
```

In [60]:
# uncomment the line below
sample_string + 'def'

'abcdef'

### Numbers (`int` and a`float`)

We already encountered integer numbers, whose type is `int`.
Another numerical type we are going to use very often is `float`.
This essentially is a non-integer real number, although the inner workings of [floating-point numbers](https://en.wikipedia.org/wiki/Floating-point_arithmetic) are more complicated.
We can initialize a variable to be of type `float` by simply assigning a decimal number to a variable.

In [61]:
b = 1.5
type(b)

float

This works even when the digit on the right of the decimal point is non significant.
The simple fact that we typed a period in the number tells Python that we want to work with floating point numbers.

In [62]:
type(1.0)

float

Both `int` and `float` variables support conventional arithmetic operations, such as addition (`+`), subtraction (`-`), multiplication (`*`), division (`/`) and raise to power (`**`).
For example:

In [64]:
a + b

2.5

In [67]:
b = 1
b - 1

0

In [68]:
b ** 2

1

Other operations that might be handy are floor division (`//`) and the _mod_ operation (`%`).
The former returns the largest integer smaller than the quotient, while the latter returns the remainder of floor division.

In [69]:
16 % 4

0

In [70]:
16 // 4

4

### Iterable objects (`list`, `tuple` and `dict`)

Often we want to collect objects in arrays.
The most basic example is a vector, which is an organized array of numbers.
Python (mainly) provides three iterable objects.


#### **List**


We first look at **lists**.
These are arrays of heterogeneous objects.
They are created by collecting objects in square brackets.

A list of objects is an odered collection of items, for example `['a', 'b', 'c', 'a', 123]`. Since
lists are ordered, every item in the list has an associated index that starts with 0. This provides
access to specific elements of the list by specifying their index. For example, 'b' in the list above has index `1`.
The syntax for accessing a specific element is to provide its index in square brackets, e.g. `sample_list[1]`.

There are no restriction on the contents of the list, they can contain repeated values
(e.g. 'a' in the list above) or they can contain different data types (e.g. strings and integers in the list above).

In [71]:
z = ['text', 2, b]
z

['text', 2, 1]

In [72]:
type(z)

list

Lists can also nest.

In [73]:
['nesting!', z]

['nesting!', ['text', 2, 1]]

We can access the contents of any iterable object using square brackets.

In [74]:
z[1]

2

Note that Python starts counting from zero.
This means that `z[0]` will denote the first element of the list `z`, so that `z[1]` denotes the second element.
We can also refer to items at the end of a list, without knowing how many elements it contains.

In [75]:
z[-1]

1

Try defining the list below and accessing different elements inside the list:

```python
sample_list = ['a', 'b', 'c', 'a', 123, 0, 'X']
```

In [1]:
# type here
sample_list = ['a', 'b', 'c', 'a', 123, 0, 'X']
sample_list

['a', 'b', 'c', 'a', 123, 0, 'X']

In [78]:
sample_list[::2]

['a', 'c', 123, 'X']

Sometimes we want to use sequences inside a list, e.g. all items from start until the third item.
For this we can use the slicing notation:
```
[start:stop:step_size]
```

If `start` is missing, the assumption is to start from 0, if `stop` is missing the assumption
is to run up to and including the last item. If `step_size` is missing then iteration
will go over all items between `start` and `stop`. 

Specifying `step_size` will display every `step_size`'th item, e.g. `[::2]` will display every second
item starting from the first item. Note that specifying a negative number will reverse the order in which items in the list are
displayed. Try this:

```python
sample_list[:3:-1]
```

In [84]:
# type here
sample_list[ 2: 7: 2]

['c', 123, 'X']

In [85]:
# type here
sample_list[::-1]

['X', 0, 123, 'a', 'c', 'b', 'a']

In [8]:
sample_list[: : -2]

['X', 123, 'c', 'a']

#### **Tuple**

Another way to collect objects is using a **tuple**.
This is similar to a `list` and it is created by using round parentheses.

In [9]:
a = 2
b = 15

In [12]:
y = ('a', a, b)
y

('a', 2, 15)

In [14]:
type(y)

tuple

What distinguishes lists from tuples is the ability to replace items without creating the iterable from scratch.
We can replace items in a list, but we cannot do so with a tuple.

In [15]:
z = ['text', 2, b]
z

['text', 2, 15]

In [16]:
type(z)

list

In [18]:
z[0] = 'another text'

In [19]:
z

['another text', 2, 15]

In [20]:
y

('a', 2, 15)

In [22]:
y[0] = 'text'

TypeError: 'tuple' object does not support item assignment

#### **Dictionary**

Finally, we have **dictionaries**.
These are essentially lists, with the difference that each element is assigned to a _key_.
We create dictionaries using curly braces.


`Dictionary` is a data type that contains a combination of key-value items, for example:

```python
sample_dictionary = dict(math=19, econ=20, physics=16, geology=14)
sample_dictionary_alt = {'math' =19, 'econ'= 20, 'physics'= 16, 'geology'= 14}
print(sample_dictionary, sample_dictionary_alt)
```

Once a dictionary is defined we can access specific values by using relevant key, specifying
it in square brackets, for example:

```python
print(sample_dictionary['econ'])
```

We can use a similar notation to add new key/value pairs to the dictionary:

```python
sample_dictionary['python'] = True
print(sample_dictionary)
```

In [ ]:
# dict = { "keys" : values , 'math' : 18  ,  ,  ,  ,  }

In [23]:
# type here
sample_dictionary = {'math' : 19, 'econ' : 20, 'physics' : 16, 'geology': 14}
sample_dictionary

{'math': 19, 'econ': 20, 'physics': 16, 'geology': 14}

In [27]:
sample_dictionary['math']
sample_dictionary['econ']

20

In [28]:
sample_dictionary['physics'] = 18

In [29]:
sample_dictionary

{'math': 19, 'econ': 20, 'physics': 18, 'geology': 14}

In [31]:
sample_dictionary['history'] = 19

In [32]:
sample_dictionary

{'math': 19,
 'econ': 20,
 'physics': 18,
 'geology': 14,
 'absc': 19,
 'history': 19}

In [33]:
type(sample_dictionary)

dict

The advantage of dictionaries is that we can access their elements by specifying the name of the key, rather than using a number to index the position.

In [34]:
sample_dictionary['history']

19

We can access to values and keys of dictionary with below commands:

In [35]:
sample_dictionary.values()

dict_values([19, 20, 18, 14, 19, 19])

In [36]:
sample_dictionary.keys()

dict_keys(['math', 'econ', 'physics', 'geology', 'absc', 'history'])