# <center> Python For Planning Economics

## Contents 

1. [Imports](#pa01)
2. [سنجش اهمیت بخش ها](#pa02)
3. [توان اشتغال زایی](#pa03)
4. [حذف فرضی (دیازنباخر)](#pa04)
5. [ شبه SAM](#pa05)

##  <a name="pa01"> Imports

### Packages

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.listdir()

['Python for Economics - Introduction - ATU - fall 2021.pdf',
 'HDI_1.jpg',
 '.DS_Store',
 '03 - NumPy.ipynb',
 '01 - basic python.ipynb',
 '02 - Loops python.ipynb',
 'README.md',
 'IO tables.xlsx',
 '04 - Pandas 01.ipynb',
 'Human development index (HDI).xlsx',
 '05 - Planning Economics.ipynb',
 '.ipynb_checkpoints']

# <center> <a name="pa02"> سنجش اهمیت بخش ها
### <center> جدول متقارت 7×7 اقتصاد ایران در سال 1385

### Data

In [14]:
df1 = pd.read_excel('IO tables.xlsx', sheet_name= 0, skiprows= 1)
df1

,Unnamed: 0,Unnamed: 1,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکت ها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
0,NaN,NaN,1,2,3,4,5,6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,کشاورزی,1.0,53770,352,300,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
2,نفت خام و گاز طبیعی,2.0,17,68,0,24201,2224,0,0,26510.0,0.0,0.0,0.0,6939.0,471936.0,-2.0,478873.0,505383.0
3,سایر معادن,3.0,193,57,77,18952,12,3590,599,23480.0,367.0,0.0,0.0,-1654.0,3292.0,-2523.0,-518.0,22962.0
4,صنعت,4.0,38618,2609,2799,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
5,آب و برق و گاز,5.0,4151,745,655,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0
6,ساختمان,6.0,571,249,426,1342,417,11738,22685,37428.0,1470.0,0.0,0.0,239011.0,0.0,0.0,240481.0,277909.0
7,خدمات,7.0,35579,8803,2174,132117,8429,44413,160032,391547.0,697471.0,3546.0,161127.0,230316.0,41811.0,-22431.0,1111840.0,1503387.0
8,جمع,NaN,132899,12883,6431,647391,30719,159577,325280,1315180.0,1229420.0,3546.0,161174.0,804851.0,733810.0,-552282.0,2380519.0,3695699.0
9,جبران خدمات,NaN,4281,11339,3425,70864,17623,46426,291831,445789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,درآمد مختلط,NaN,181497,0,1084,54775,340,5684,478560,721940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,مازاد عملیاتی,NaN,24023,481160,12024,184252,37393,66222,407715,1212789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ارزش افزوده,NaN,209801,492499,16533,309891,55356,118332,1178106,2380518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ستانده کل,NaN,342700,505382,22964,957282,86075,277909,1503386,3695698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'کشاورزی', 'نفت خام و گاز طبیعی',
       'سایر معادن', 'صنعت', 'آب و برق و گاز', 'ساختمان', 'خدمات',
       'جمع تقاضای واسطه ای', 'خانوارها', 'شرکت ها', 'دولت',
       'تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات', 'صادرات', 'واردات',
       'تقاضای نهایی', 'ستانده کل'],
      dtype='object')

### Drop useless columns and indeces

In [15]:
df1 = df1.drop([0], axis = 0)
df1

,Unnamed: 0,Unnamed: 1,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکت ها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
1,کشاورزی,1.0,53770,352,300,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
2,نفت خام و گاز طبیعی,2.0,17,68,0,24201,2224,0,0,26510.0,0.0,0.0,0.0,6939.0,471936.0,-2.0,478873.0,505383.0
3,سایر معادن,3.0,193,57,77,18952,12,3590,599,23480.0,367.0,0.0,0.0,-1654.0,3292.0,-2523.0,-518.0,22962.0
4,صنعت,4.0,38618,2609,2799,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
5,آب و برق و گاز,5.0,4151,745,655,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0
6,ساختمان,6.0,571,249,426,1342,417,11738,22685,37428.0,1470.0,0.0,0.0,239011.0,0.0,0.0,240481.0,277909.0
7,خدمات,7.0,35579,8803,2174,132117,8429,44413,160032,391547.0,697471.0,3546.0,161127.0,230316.0,41811.0,-22431.0,1111840.0,1503387.0
8,جمع,NaN,132899,12883,6431,647391,30719,159577,325280,1315180.0,1229420.0,3546.0,161174.0,804851.0,733810.0,-552282.0,2380519.0,3695699.0
9,جبران خدمات,NaN,4281,11339,3425,70864,17623,46426,291831,445789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,درآمد مختلط,NaN,181497,0,1084,54775,340,5684,478560,721940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,مازاد عملیاتی,NaN,24023,481160,12024,184252,37393,66222,407715,1212789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ارزش افزوده,NaN,209801,492499,16533,309891,55356,118332,1178106,2380518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ستانده کل,NaN,342700,505382,22964,957282,86075,277909,1503386,3695698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df1 = df1.drop(['Unnamed: 1'], axis = 1)

In [17]:
df1.head()

,Unnamed: 0,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکت ها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
1,کشاورزی,53770,352,300,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
2,نفت خام و گاز طبیعی,17,68,0,24201,2224,0,0,26510.0,0.0,0.0,0.0,6939.0,471936.0,-2.0,478873.0,505383.0
3,سایر معادن,193,57,77,18952,12,3590,599,23480.0,367.0,0.0,0.0,-1654.0,3292.0,-2523.0,-518.0,22962.0
4,صنعت,38618,2609,2799,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
5,آب و برق و گاز,4151,745,655,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0

### Set index and columns

In [18]:
df1 = df1.set_index('Unnamed: 0')
df1.head()

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکت ها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
Unnamed: 0,,,,,,,,,,,,,,,,
کشاورزی,53770,352,300,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
نفت خام و گاز طبیعی,17,68,0,24201,2224,0,0,26510.0,0.0,0.0,0.0,6939.0,471936.0,-2.0,478873.0,505383.0
سایر معادن,193,57,77,18952,12,3590,599,23480.0,367.0,0.0,0.0,-1654.0,3292.0,-2523.0,-518.0,22962.0
صنعت,38618,2609,2799,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
آب و برق و گاز,4151,745,655,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0

### Set sections

In [19]:
int_demand = df1.iloc[0:7, 0:7]
int_demand

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات
Unnamed: 0,,,,,,,
کشاورزی,53770,352,300,89991,44,335,5110
نفت خام و گاز طبیعی,17,68,0,24201,2224,0,0
سایر معادن,193,57,77,18952,12,3590,599
صنعت,38618,2609,2799,363732,3385,99262,116697
آب و برق و گاز,4151,745,655,17056,16208,239,20157
ساختمان,571,249,426,1342,417,11738,22685
خدمات,35579,8803,2174,132117,8429,44413,160032

In [20]:
fin_demand = df1.iloc[0:7,8:-2]
fin_demand

,خانوارها,شرکت ها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات
Unnamed: 0,,,,,,
کشاورزی,153048.0,0.0,0.0,40011.0,23983.0,-24243.0
نفت خام و گاز طبیعی,0.0,0.0,0.0,6939.0,471936.0,-2.0
سایر معادن,367.0,0.0,0.0,-1654.0,3292.0,-2523.0
صنعت,360424.0,0.0,47.0,292510.0,177325.0,-500126.0
آب و برق و گاز,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0
ساختمان,1470.0,0.0,0.0,239011.0,0.0,0.0
خدمات,697471.0,3546.0,161127.0,230316.0,41811.0,-22431.0

In [22]:
total_output = df1.iloc[-1, 0:7]
total_output

کشاورزی                 342700.0
نفت خام و گاز طبیعی     505382.0
سایر معادن               22964.0
صنعت                    957282.0
آب و برق و گاز           86075.0
ساختمان                 277909.0
خدمات                  1503386.0
Name: ستانده کل, dtype: float64

### A matrix

In [24]:
A = int_demand.div(total_output)
A = A.rename_axis('A')
A

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات
A,,,,,,,
کشاورزی,0.156901,0.000697,0.013064,0.094007,0.000511,0.001205,0.003399
نفت خام و گاز طبیعی,0.000050,0.000135,0.000000,0.025281,0.025838,0.000000,0.000000
سایر معادن,0.000563,0.000113,0.003353,0.019798,0.000139,0.012918,0.000398
صنعت,0.112687,0.005162,0.121886,0.379963,0.039326,0.357174,0.077623
آب و برق و گاز,0.012113,0.001474,0.028523,0.017817,0.188301,0.000860,0.013408
ساختمان,0.001666,0.000493,0.018551,0.001402,0.004845,0.042237,0.015089
خدمات,0.103820,0.017419,0.094670,0.138013,0.097926,0.159811,0.106448

### $I$ matrix

In [29]:
np.eye(7)
I = pd.DataFrame(np.eye(7))
I.index = A.index
I.columns = A.columns
I = I.rename_axis('I')
I

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات
I,,,,,,,
کشاورزی,1.0,0.0,0.0,0.0,0.0,0.0,0.0
نفت خام و گاز طبیعی,0.0,1.0,0.0,0.0,0.0,0.0,0.0
سایر معادن,0.0,0.0,1.0,0.0,0.0,0.0,0.0
صنعت,0.0,0.0,0.0,1.0,0.0,0.0,0.0
آب و برق و گاز,0.0,0.0,0.0,0.0,1.0,0.0,0.0
ساختمان,0.0,0.0,0.0,0.0,0.0,1.0,0.0
خدمات,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### $I - A$ matrix

In [31]:
I_min_A = I - A
I_min_A = I_min_A.rename_axis('$I-A$')
I_min_A

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات
$I-A$,,,,,,,
کشاورزی,0.843099,-0.000697,-0.013064,-0.094007,-0.000511,-0.001205,-0.003399
نفت خام و گاز طبیعی,-0.000050,0.999865,0.000000,-0.025281,-0.025838,0.000000,0.000000
سایر معادن,-0.000563,-0.000113,0.996647,-0.019798,-0.000139,-0.012918,-0.000398
صنعت,-0.112687,-0.005162,-0.121886,0.620037,-0.039326,-0.357174,-0.077623
آب و برق و گاز,-0.012113,-0.001474,-0.028523,-0.017817,0.811699,-0.000860,-0.013408
ساختمان,-0.001666,-0.000493,-0.018551,-0.001402,-0.004845,0.957763,-0.015089
خدمات,-0.103820,-0.017419,-0.094670,-0.138013,-0.097926,-0.159811,0.893552

### Leontief $(I-A)^{-1}$

In [35]:
L = np.linalg.inv(I_min_A)
L = pd.DataFrame(L, index=I_min_A.index, columns=I_min_A.columns)
L = L.rename_axis('$L$')
L

,کشاورزی,نفت خام و گاز طبیعی,سایر معادن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,,
کشاورزی,1.214844,0.002293,0.043299,0.191288,0.013321,0.077259,0.022762
نفت خام و گاز طبیعی,0.007077,1.000510,0.007256,0.044176,0.034663,0.017393,0.004682
سایر معادن,0.005805,0.000379,1.008558,0.034105,0.002476,0.026986,0.003927
صنعت,0.250037,0.012274,0.241866,1.699448,0.106377,0.664389,0.161505
آب و برق و گاز,0.026887,0.002501,0.044047,0.046331,1.237256,0.022871,0.023098
ساختمان,0.005638,0.000905,0.022684,0.008398,0.008963,1.050662,0.018638
خدمات,0.184477,0.022142,0.158268,0.295766,0.156112,0.305209,1.153091

In [36]:
np.diag(L)

array([1.21484387, 1.00050964, 1.0085576 , 1.69944838, 1.23725555,
       1.05066216, 1.1530906 ])

In [41]:
entire = []
for i in L.columns:
    #print(L.loc[i,i])
    entire.append(L.loc[i,i])
    
print(entire)

[1.2148438690409957, 1.0005096376903555, 1.0085575957424908, 1.6994483798438782, 1.2372555499793634, 1.0506621563087541, 1.1530906013214144]

In [42]:
entire == list(np.diag(L))

True

In [44]:
L['کشاورزی'].sum()

1.6947648778847395

In [46]:
TO = list(L.sum())
TO

[1.6947648778847395,
 1.041003619132665,
 1.5259779680469099,
 2.319512550164572,
 1.5591664381006543,
 2.1647706059556135,
 1.3877030213065986]

In [47]:
outer = []
for i in L.columns:
    a = L[i].sum() - L.loc[i,i]
    outer.append(a)
    
outer

[0.4799210088437438,
 0.040493981442309535,
 0.5174203723044191,
 0.6200641703206939,
 0.3219108881212909,
 1.1141084496468594,
 0.23461241998518423]

# <center> <a name="pa03"> توان اشتغال زایی
    
### <center> جدول متقارت 7×7 اقتصاد ایران در سال 1385

In [49]:
os.listdir()

['Python for Economics - Introduction - ATU - fall 2021.pdf',
 'HDI_1.jpg',
 '.DS_Store',
 '03 - NumPy.ipynb',
 '01 - basic python.ipynb',
 '02 - Loops python.ipynb',
 'README.md',
 'IO tables.xlsx',
 '04 - Pandas 01.ipynb',
 '~$IO tables.xlsx',
 'Human development index (HDI).xlsx',
 '05 - Planning Economics.ipynb',
 '.ipynb_checkpoints']

In [59]:
df2 = pd.read_excel('IO tables.xlsx', sheet_name=1, skiprows=1)
df2

,Unnamed: 0,Unnamed: 1,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکتها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
0,NaN,NaN,1,2,3,4,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,کشاورزی,1.0,53770,652,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
2,معدن,2.0,210,202,43153,2236,3590,599,49990.0,367.0,0.0,0.0,5285.0,475228.0,-2525.0,478355.0,528345.0
3,صنعت,3.0,38618,5408,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
4,آب و برق و گاز,4.0,4151,1400,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0
5,ساختمان,5.0,571,675,1342,417,11738,22685,37428.0,1470.0,0.0,0.0,239011.0,0.0,0.0,240481.0,277909.0
6,خدمات,6.0,35579,10977,132117,8429,44413,160032,391547.0,697471.0,3546.0,161127.0,230316.0,41811.0,-22431.0,1111840.0,1503387.0
7,جمع,NaN,132899,19314,647391,30719,159577,325280,1315180.0,1229420.0,3546.0,161174.0,804851.0,733810.0,-552282.0,2380519.0,3695699.0
8,جبران خدمات,NaN,4281,14764,70864,17623,46426,291831,445789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,درآمد مختلط,NaN,181497,1084,54775,340,5684,478560,721940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,مازاد عملیاتی,NaN,24023,493184,184252,37393,66222,407715,1212789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ارزش افزوده,NaN,209801,509032,309891,55356,118332,1178106,2380518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ستانده کل,NaN,342700,528346,957282,86075,277909,1503386,3695698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,سرشماری 85 (نفر- شغل) : L,NaN,3686747,152254,3485191,224811,2631142,10296199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df2 = df2.drop([0], axis= 0)
df2 = df2.drop(['Unnamed: 1'], axis = 1)
df2 = df2.set_index('Unnamed: 0')
df2.head()

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه ای,خانوارها,شرکتها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات,تقاضای نهایی,ستانده کل
Unnamed: 0,,,,,,,,,,,,,,,
کشاورزی,53770,652,89991,44,335,5110,149902.0,153048.0,0.0,0.0,40011.0,23983.0,-24243.0,192799.0,342701.0
معدن,210,202,43153,2236,3590,599,49990.0,367.0,0.0,0.0,5285.0,475228.0,-2525.0,478355.0,528345.0
صنعت,38618,5408,363732,3385,99262,116697,627102.0,360424.0,0.0,47.0,292510.0,177325.0,-500126.0,330180.0,957282.0
آب و برق و گاز,4151,1400,17056,16208,239,20157,59211.0,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0,26864.0,86075.0
ساختمان,571,675,1342,417,11738,22685,37428.0,1470.0,0.0,0.0,239011.0,0.0,0.0,240481.0,277909.0

In [61]:
int_demand = df2.iloc[0:6, 0:6]
int_demand

                کشاورزی   معدن    صنعت  آب و برق و گاز  ساختمان   خدمات
Unnamed: 0
کشاورزی           53770    652   89991              44      335    5110
معدن                210    202   43153            2236     3590     599
صنعت              38618   5408  363732            3385    99262  116697
آب و برق و گاز     4151   1400   17056           16208      239   20157
ساختمان             571    675    1342             417    11738   22685
خدمات             35579  10977  132117            8429    44413  160032

In [62]:
fin_demand = df2.iloc[0:6, 7:-2]
fin_demand

,خانوارها,شرکتها,دولت,تشکیل سرمایه و تغییر در موجودی انبار و اشتباهات,صادرات,واردات
Unnamed: 0,,,,,,
کشاورزی,153048.0,0.0,0.0,40011.0,23983.0,-24243.0
معدن,367.0,0.0,0.0,5285.0,475228.0,-2525.0
صنعت,360424.0,0.0,47.0,292510.0,177325.0,-500126.0
آب و برق و گاز,16640.0,0.0,0.0,-2282.0,15463.0,-2957.0
ساختمان,1470.0,0.0,0.0,239011.0,0.0,0.0
خدمات,697471.0,3546.0,161127.0,230316.0,41811.0,-22431.0

In [63]:
total_output = df2.iloc[-2,0:6]
total_output

کشاورزی            342700.0
معدن               528346.0
صنعت               957282.0
آب و برق و گاز      86075.0
ساختمان            277909.0
خدمات             1503386.0
Name: ستانده کل, dtype: float64

In [64]:
A = int_demand.div(total_output)
A

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
Unnamed: 0,,,,,,
کشاورزی,0.156901,0.001234,0.094007,0.000511,0.001205,0.003399
معدن,0.000613,0.000382,0.045079,0.025977,0.012918,0.000398
صنعت,0.112687,0.010236,0.379963,0.039326,0.357174,0.077623
آب و برق و گاز,0.012113,0.002650,0.017817,0.188301,0.000860,0.013408
ساختمان,0.001666,0.001278,0.001402,0.004845,0.042237,0.015089
خدمات,0.103820,0.020776,0.138013,0.097926,0.159811,0.106448

In [66]:
I = pd.DataFrame(np.eye(6))
I.index = A.index
I.columns = A.columns
I = I.rename_axis('I')
I

                کشاورزی  معدن  صنعت  آب و برق و گاز  ساختمان  خدمات
I
کشاورزی             1.0   0.0   0.0             0.0      0.0    0.0
معدن                0.0   1.0   0.0             0.0      0.0    0.0
صنعت                0.0   0.0   1.0             0.0      0.0    0.0
آب و برق و گاز      0.0   0.0   0.0             1.0      0.0    0.0
ساختمان             0.0   0.0   0.0             0.0      1.0    0.0
خدمات               0.0   0.0   0.0             0.0      0.0    1.0

In [67]:
I_min_A = I - A
I_min_A = I_min_A.rename_axis('$I-A$')
I_min_A

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$I-A$,,,,,,
کشاورزی,0.843099,-0.001234,-0.094007,-0.000511,-0.001205,-0.003399
معدن,-0.000613,0.999618,-0.045079,-0.025977,-0.012918,-0.000398
صنعت,-0.112687,-0.010236,0.620037,-0.039326,-0.357174,-0.077623
آب و برق و گاز,-0.012113,-0.002650,-0.017817,0.811699,-0.000860,-0.013408
ساختمان,-0.001666,-0.001278,-0.001402,-0.004845,0.957763,-0.015089
خدمات,-0.103820,-0.020776,-0.138013,-0.097926,-0.159811,0.893552

In [68]:
L = np.linalg.inv(I_min_A)
L = pd.DataFrame(L, index=I_min_A.index, columns=I_min_A.columns)
L = L.rename_axis('$L$')
L

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,
کشاورزی,1.214630,0.004048,0.190039,0.013285,0.076240,0.022618
معدن,0.012804,1.001528,0.077826,0.037126,0.044009,0.008556
صنعت,0.248842,0.022100,1.692452,0.106180,0.658679,0.160696
آب و برق و گاز,0.026671,0.004279,0.045065,1.237220,0.021838,0.022951
ساختمان,0.005524,0.001838,0.007734,0.008944,1.050121,0.018561
خدمات,0.183768,0.027968,0.291617,0.155996,0.301824,1.152611

In [69]:
labor = df2.iloc[-1, 0:6]
labor

کشاورزی            3686747.0
معدن                152254.0
صنعت               3485191.0
آب و برق و گاز      224811.0
ساختمان            2631142.0
خدمات             10296199.0
Name: سرشماری 85 (نفر- شغل) : L, dtype: float64

In [70]:
dir_coe = labor / total_output
dir_coe

کشاورزی           10.757943
معدن               0.288171
صنعت               3.640715
آب و برق و گاز     2.611804
ساختمان            9.467639
خدمات              6.848673
dtype: float64

In [72]:
labor_matrix = np.diag(dir_coe)
labor_matrix = pd.DataFrame(labor_matrix, index=L.index, columns=L.columns)
labor_matrix

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,
کشاورزی,10.757943,0.000000,0.000000,0.000000,0.000000,0.000000
معدن,0.000000,0.288171,0.000000,0.000000,0.000000,0.000000
صنعت,0.000000,0.000000,3.640715,0.000000,0.000000,0.000000
آب و برق و گاز,0.000000,0.000000,0.000000,2.611804,0.000000,0.000000
ساختمان,0.000000,0.000000,0.000000,0.000000,9.467639,0.000000
خدمات,0.000000,0.000000,0.000000,0.000000,0.000000,6.848673

### $labor\_matrix \times L$

In [73]:
times = labor_matrix @ L
times

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,
کشاورزی,13.066924,0.043550,2.044427,0.142924,0.820181,0.243319
معدن,0.003690,0.288611,0.022427,0.010699,0.012682,0.002466
صنعت,0.905964,0.080462,6.161735,0.386572,2.398062,0.585047
آب و برق و گاز,0.069659,0.011176,0.117701,3.231376,0.057036,0.059945
ساختمان,0.052304,0.017398,0.073222,0.084678,9.942162,0.175730
خدمات,1.258569,0.191545,1.997193,1.068365,2.067091,7.893853

In [74]:
total_labor_coe = times.sum()
total_labor_coe

کشاورزی           15.357109
معدن               0.632741
صنعت              10.416706
آب و برق و گاز     4.924612
ساختمان           15.297214
خدمات              8.960359
dtype: float64

In [76]:
indir_coe = times.sum() - dir_coe
indir_coe

کشاورزی           4.599167
معدن              0.344570
صنعت              6.775991
آب و برق و گاز    2.312808
ساختمان           5.829575
خدمات             2.111686
dtype: float64

In [78]:
dir_coe

کشاورزی           10.757943
معدن               0.288171
صنعت               3.640715
آب و برق و گاز     2.611804
ساختمان            9.467639
خدمات              6.848673
dtype: float64

# <center> <a name="pa04"> حذف فرضی (دیازنباخر)
    
### <center> جدول متقارن اقتصاد ایران در سال 1390،فعالیت در فعالیت با تکنولوژی فعالیت

In [85]:
df3 = pd.read_excel('IO tables.xlsx', sheet_name=2, skiprows=1)
df3

,نام رشته فعالیت,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه,مصرف نهایی خانوار,مصرف نهایی دولت,تشکیل سرمایه ثابت ناخالص,صادرات کالاها و خدمات,واردات کالا ها و خدمات,ستانده کل
0,کشاورزی,157516,2094,280615,79,1016,12018,453338,269601.0,5228.0,157333.0,46446.0,66343.0,865603.0
1,معدن,446,208,117760,275,6813,796,126297,774.0,0.0,-84715.0,1054782.0,2779.0,1094360.0
2,صنعت,120652,19597,908717,8673,251779,366549,1675967,932737.0,0.0,735608.0,543615.0,1045176.0,2842788.0
3,آب و برق و گاز,12707,7037,110956,51582,1490,139880,323651,124624.0,0.0,55739.0,1.0,0.0,504015.0
4,ساختمان,1142,1625,4885,550,36728,60586,105515,10322.0,0.0,645726.0,0.0,0.0,761563.0
5,خدمات,73706,23567,470819,12573,144321,305755,1030742,1535715.0,616212.0,745371.0,76659.0,131858.0,3872842.0
6,جمع مصارف,366168,54128,1893753,73732,442147,885583,3715511,2873773.0,621440.0,2255063.0,1721539.0,1246157.0,9941171.0
7,ارزش افزوده ناخالص/محصول ناخالص داخلی(GDP),499435,1040233,949035,430283,319416,2987258,6225660,NaN,NaN,NaN,NaN,NaN,NaN
8,جبران خدمات کارکنان,16112,28519,163018,116462,113482,738025,1175618,NaN,NaN,NaN,NaN,NaN,NaN
9,خالص مالیات بر تولید و واردات,-217,11451,98484,5363,9024,35200,159304,NaN,NaN,NaN,NaN,NaN,NaN
10,درآمد مختلط ،ناخالص,424080,38364,107529,18001,28259,936792,1553025,NaN,NaN,NaN,NaN,NaN,NaN
11,مازاد عملیاتی ، ناخالص,59460,961899,580004,290457,168651,1277241,3337712,NaN,NaN,NaN,NaN,NaN,NaN
12,ستانده کل,865603,1094360,2842788,504015,761563,3872842,9941171,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
for i in df3.columns:
    print(i)

نام رشته فعالیت
کشاورزی
معدن
صنعت
آب و برق و گاز
ساختمان
خدمات
جمع تقاضای واسطه
مصرف نهایی خانوار
مصرف نهایی دولت
تشکیل سرمایه ثابت ناخالص
صادرات کالاها و خدمات
واردات کالا ها و خدمات
ستانده کل

In [87]:
df3.columns[0]

'نام رشته فعالیت '

In [88]:
df3 = df3.set_index("نام رشته فعالیت ")
df3.head()

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات,جمع تقاضای واسطه,مصرف نهایی خانوار,مصرف نهایی دولت,تشکیل سرمایه ثابت ناخالص,صادرات کالاها و خدمات,واردات کالا ها و خدمات,ستانده کل
نام رشته فعالیت,,,,,,,,,,,,,
کشاورزی,157516,2094,280615,79,1016,12018,453338,269601.0,5228.0,157333.0,46446.0,66343.0,865603.0
معدن,446,208,117760,275,6813,796,126297,774.0,0.0,-84715.0,1054782.0,2779.0,1094360.0
صنعت,120652,19597,908717,8673,251779,366549,1675967,932737.0,0.0,735608.0,543615.0,1045176.0,2842788.0
آب و برق و گاز,12707,7037,110956,51582,1490,139880,323651,124624.0,0.0,55739.0,1.0,0.0,504015.0
ساختمان,1142,1625,4885,550,36728,60586,105515,10322.0,0.0,645726.0,0.0,0.0,761563.0

In [89]:
int_demand = df3.iloc[0:6, 0:6]
int_demand

                  کشاورزی   معدن    صنعت   آب و برق و گاز   ساختمان   خدمات
نام رشته فعالیت
کشاورزی             157516   2094  280615               79      1016   12018
معدن                   446    208  117760              275      6813     796
صنعت                120652  19597  908717             8673    251779  366549
آب و برق و گاز       12707   7037  110956            51582      1490  139880
ساختمان               1142   1625    4885              550     36728   60586
خدمات                73706  23567  470819            12573    144321  305755

In [90]:
fin_demand = df3.iloc[0:6, 7:-1]
fin_demand

,مصرف نهایی خانوار,مصرف نهایی دولت,تشکیل سرمایه ثابت ناخالص,صادرات کالاها و خدمات,واردات کالا ها و خدمات
نام رشته فعالیت,,,,,
کشاورزی,269601.0,5228.0,157333.0,46446.0,66343.0
معدن,774.0,0.0,-84715.0,1054782.0,2779.0
صنعت,932737.0,0.0,735608.0,543615.0,1045176.0
آب و برق و گاز,124624.0,0.0,55739.0,1.0,0.0
ساختمان,10322.0,0.0,645726.0,0.0,0.0
خدمات,1535715.0,616212.0,745371.0,76659.0,131858.0

In [91]:
total_outputA = df3.iloc[-1, 0:6]
total_outputA

کشاورزی             865603.0
معدن               1094360.0
صنعت               2842788.0
آب و برق و گاز      504015.0
ساختمان             761563.0
خدمات              3872842.0
Name: ستانده کل, dtype: float64

In [96]:
total_outputB = df3.iloc[0:6, -1]
total_outputB

نام رشته فعالیت
کشاورزی             865603.0
معدن               1094360.0
صنعت               2842788.0
آب و برق و گاز      504015.0
ساختمان             761563.0
خدمات              3872842.0
Name: ستانده کل, dtype: float64

In [93]:
list(total_outputA) == list(total_outputB)

True

In [97]:
# تقاضای نهایی
FD = total_outputB - df3.iloc[0:6]['جمع تقاضای واسطه ']
FD

نام رشته فعالیت
کشاورزی             412265.0
معدن                968063.0
صنعت               1166821.0
آب و برق و گاز      180364.0
ساختمان             656048.0
خدمات              2842100.0
dtype: float64

In [100]:
V = df3.loc['ارزش افزوده ناخالص/محصول ناخالص داخلی(GDP)'][0:6]
V

کشاورزی             499435.0
معدن               1040233.0
صنعت                949035.0
آب و برق و گاز      430283.0
ساختمان             319416.0
خدمات              2987258.0
Name: ارزش افزوده ناخالص/محصول ناخالص داخلی(GDP), dtype: float64

## BL

In [101]:
A = int_demand.div(total_outputA)

I = pd.DataFrame(np.eye(6))
I.index = A.index
I.columns = A.columns
I = I.rename_axis('I')

I_min_A = I - A

L = np.linalg.inv(I_min_A)
L = pd.DataFrame(L, index=I_min_A.index, columns=I_min_A.columns)
L = L.rename_axis('$L$')
L

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,
کشاورزی,1.257547,0.006478,0.189417,0.004641,0.072630,0.025118
معدن,0.012563,1.001602,0.064858,0.002106,0.033475,0.007582
صنعت,0.285109,0.033258,1.558675,0.035439,0.576517,0.172317
آب و برق و گاز,0.039901,0.009967,0.083554,1.117156,0.042071,0.053245
ساختمان,0.005117,0.002148,0.008258,0.001971,1.057334,0.018902
خدمات,0.169952,0.030709,0.303263,0.037513,0.329850,1.124531

In [102]:
A['کشاورزی ']

نام رشته فعالیت
کشاورزی            0.181973
معدن               0.000515
صنعت               0.139385
آب و برق و گاز     0.014680
ساختمان            0.001319
خدمات              0.085150
Name: کشاورزی , dtype: float64

In [103]:
A_prime = A.copy()
A_prime['کشاورزی '] = 0
A_prime

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
نام رشته فعالیت,,,,,,
کشاورزی,0,0.001913,0.098711,0.000157,0.001334,0.003103
معدن,0,0.000190,0.041424,0.000546,0.008946,0.000206
صنعت,0,0.017907,0.319657,0.017208,0.330608,0.094646
آب و برق و گاز,0,0.006430,0.039031,0.102342,0.001957,0.036118
ساختمان,0,0.001485,0.001718,0.001091,0.048227,0.015644
خدمات,0,0.021535,0.165619,0.024946,0.189506,0.078948

In [105]:
I = pd.DataFrame(np.eye(6))
I.index = A.index
I.columns = A.columns

I_min_A_p = I - A_prime

L_prime = np.linalg.inv(I_min_A_p)
L_prime = pd.DataFrame(L_prime, index=I_min_A_p.index, columns=I_min_A_p.columns)
L_prime = L_prime.rename_axis('$L_prime$')
L_prime

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L_prime$,,,,,,
کشاورزی,1.0,0.005151,0.150624,0.003690,0.057755,0.019974
معدن,0.0,1.001538,0.062966,0.002059,0.032750,0.007331
صنعت,0.0,0.031790,1.515731,0.034387,0.560050,0.166622
آب و برق و گاز,0.0,0.009762,0.077544,1.117009,0.039767,0.052448
ساختمان,0.0,0.002121,0.007488,0.001952,1.057039,0.018800
خدمات,0.0,0.029834,0.277664,0.036886,0.320034,1.121137

In [106]:
L_mine = L - L_prime
L_mine

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$L$,,,,,,
کشاورزی,0.257547,0.001327,0.038793,0.000950,0.014875,0.005144
معدن,0.012563,0.000065,0.001892,0.000046,0.000726,0.000251
صنعت,0.285109,0.001469,0.042944,0.001052,0.016467,0.005695
آب و برق و گاز,0.039901,0.000206,0.006010,0.000147,0.002305,0.000797
ساختمان,0.005117,0.000026,0.000771,0.000019,0.000296,0.000102
خدمات,0.169952,0.000875,0.025599,0.000627,0.009816,0.003395

In [107]:
FD

نام رشته فعالیت
کشاورزی             412265.0
معدن                968063.0
صنعت               1166821.0
آب و برق و گاز      180364.0
ساختمان             656048.0
خدمات              2842100.0
dtype: float64

In [108]:
BL = L_mine @ FD.values
BL

$L$
کشاورزی            177276.428770
معدن                 8647.573068
صنعت               196247.783835
آب و برق و گاز      27465.241463
ساختمان              3521.949678
خدمات              116982.722602
dtype: float64

In [109]:
BL_percent = BL.sum() / total_outputB.sum() * 100
BL_percent

5.332789260111627

In [113]:
print('BL\n')
for i in L_mine.columns:
    A_prime = A.copy()
    A_prime[i] = 0
    
    I = pd.DataFrame(np.eye(6))
    I.index = A.index
    I.columns = A.columns
    
    I_min_A_p = I - A_prime
    
    L_prime = np.linalg.inv(I_min_A_p)
    L_prime = pd.DataFrame(L_prime, index=I_min_A_p.index, columns=I_min_A_p.columns)
    L_prime = L_prime.rename_axis('$L_prime$')
    
    L_mine = L - L_prime
    
    BL = L_mine @ FD.values
    
    BL_percent = BL.sum() / total_outputB.sum() * 100
    print("The share if {} section is {:1.3f} percents.".format(i, BL_percent))

BL

The share if کشاورزی  section is 5.333 percents.
The share if معدن  section is 0.925 percents.
The share if صنعت  section is 22.163 percents.
The share if آب و برق و گاز  section is 0.902 percents.
The share if ساختمان  section is 8.056 percents.
The share if خدمات  section is 13.916 percents.

## FL

In [119]:
B = int_demand.div(total_outputB, axis = 0)

I = pd.DataFrame(np.eye(6))
I.index = B.index
I.columns = B.columns
I = I.rename_axis('I')

I_min_B = I - B

M = np.linalg.inv(I_min_B)
M = pd.DataFrame(M, index=I_min_B.index, columns=I_min_B.columns)
M = M.rename_axis('$M$')
M

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$M$,,,,,,
کشاورزی,1.257547,0.008190,0.622077,0.002702,0.063901,0.112382
معدن,0.009937,1.001602,0.168481,0.000970,0.023295,0.026831
صنعت,0.086813,0.012803,1.558675,0.006283,0.154445,0.234754
آب و برق و گاز,0.068527,0.021642,0.471271,1.117156,0.063569,0.409137
ساختمان,0.005816,0.003086,0.030827,0.001305,1.057334,0.096125
خدمات,0.037985,0.008678,0.222604,0.004882,0.064862,1.124531

In [122]:
B_prime = B.copy()
B_prime.loc['کشاورزی'] = 0
B_prime

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
نام رشته فعالیت,,,,,,
کشاورزی,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
معدن,0.000408,0.000190,0.107606,0.000251,0.006226,0.000727
صنعت,0.042441,0.006894,0.319657,0.003051,0.088568,0.128940
آب و برق و گاز,0.025212,0.013962,0.220144,0.102342,0.002956,0.277531
ساختمان,0.001500,0.002134,0.006414,0.000722,0.048227,0.079555
خدمات,0.019032,0.006085,0.121569,0.003246,0.037265,0.078948

In [123]:
I = pd.DataFrame(np.eye(6))
I.index = B.index
I.columns = B.columns
I = I.rename_axis('I')

I_min_B = I - B_prime

M_prime = np.linalg.inv(I_min_B)
M_prime = pd.DataFrame(M_prime, index=I_min_B.index, columns=I_min_B.columns)
M_prime = M_prime.rename_axis('$M_prime$')
M_prime

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$M_prime$,,,,,,
کشاورزی,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
معدن,0.007902,1.001538,0.163565,0.000948,0.022790,0.025943
صنعت,0.069034,0.012238,1.515731,0.006097,0.150034,0.226996
آب و برق و گاز,0.054493,0.021195,0.437372,1.117009,0.060087,0.403013
ساختمان,0.004625,0.003049,0.027950,0.001292,1.057039,0.095605
خدمات,0.030206,0.008430,0.203814,0.004800,0.062932,1.121137

In [125]:
M_mine = M - M_prime
M_mine

,کشاورزی,معدن,صنعت,آب و برق و گاز,ساختمان,خدمات
$M$,,,,,,
کشاورزی,0.257547,0.008190,0.622077,0.002702,0.063901,0.112382
معدن,0.002035,0.000065,0.004916,0.000021,0.000505,0.000888
صنعت,0.017779,0.000565,0.042944,0.000187,0.004411,0.007758
آب و برق و گاز,0.014034,0.000446,0.033899,0.000147,0.003482,0.006124
ساختمان,0.001191,0.000038,0.002877,0.000012,0.000296,0.000520
خدمات,0.007779,0.000247,0.018790,0.000082,0.001930,0.003395

In [126]:
V

کشاورزی             499435.0
معدن               1040233.0
صنعت                949035.0
آب و برق و گاز      430283.0
ساختمان             319416.0
خدمات              2987258.0
Name: ارزش افزوده ناخالص/محصول ناخالص داخلی(GDP), dtype: float64

In [127]:
FL = V.values @ M_mine
FL

کشاورزی            177276.658565
معدن                 5637.402018
صنعت               428192.385500
آب و برق و گاز       1860.037171
ساختمان             43984.479547
خدمات               77355.744634
dtype: float64

In [130]:
FL_perncet = FL.sum() / total_outputB.sum() * 100
FL_perncet

7.386521240159101

In [137]:
print('FL')
for i in M_mine.index:
    B_prime = B.copy()
    B_prime.loc[i] = 0
    
    I = np.eye(6)
    I = pd.DataFrame(I)
    I.index = B.index
    I.columns = B.columns


    
    I_min_B = I - B_prime
    
    M_prime = np.linalg.inv(I_min_B)
    M_prime = pd.DataFrame(M_prime,index=I_min_B.index ,columns=I_min_B.columns)
    M_prime = M_prime.rename_axis('$M\_prime$')
    
    M_mine = M - M_prime
    
    FL = V.values @ M_mine
    
    FL_percent = FL.sum() / total_outputB.sum() *100
    
    print('The share of {} sections is {:1.3f} percents.'.format(i, FL_percent))

FL
The share of کشاورزی sections is 7.387 percents.
The share of معدن  sections is 2.540 percents.
The share of صنعت  sections is 19.333 percents.
The share of آب و برق و گاز  sections is 5.225 percents.
The share of ساختمان  sections is 1.409 percents.
The share of خدمات  sections is 16.059 percents.

# <center> <a name="pa05"> شبه SAM